name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    uses: CodingWithCalvin/.github/.github/workflows/gha-build.yml@main
