name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - '__tests__/**'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'action.yml'
      - '.github/workflows/build.yml'
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '__tests__/**'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'action.yml'
      - '.github/workflows/build.yml'

jobs:
  build:
    uses: CodingWithCalvin/.github/.github/workflows/gha-build.yml@main
