name: Publish

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (e.g., 1.2.0)'
        required: true
        type: string

jobs:
  publish:
    uses: CodingWithCalvin/.github/.github/workflows/gha-publish.yml@main
    with:
      version: ${{ inputs.version }}
      action-name: 'Visual Studio Marketplace Publisher'
      action-slug: 'visual-studio-marketplace-publisher'
      action-description: 'Publish your Visual Studio extensions to the marketplace with ease!'
    secrets: inherit
